/* Base */
body {
background-color: Silver;
color: Teal;
font-family: arial, helvetica, sans-serif;}

div.menu {text-align: center; font-size: 2vw;
  display: block;
  border: 15px solid Plum;
  padding-top: 2vw;
  padding-bottom: 2vw;
  flex: 5;}

/* unvisited link */
a:link {color: RebeccaPurple;}
/* visited link */
a:visited {color: SteelBlue;}
/* mouse over link */
a:hover {color: SteelBlue;}
/* selected link */
a:active {color: DarkSlateGray;}


/* Title */
h1 {text-align:center;
display: block;}


/* Footer */
footer {
  width: 300px;
  padding: 10px;  
  border: 2px solid Plum;
}
























